body {
    padding: 0%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #E5E5E5;
}
a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 500;
}
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
@media (max-width: 1300px) { 
    body { 
        font-size: 15px;
    }
}
@media (max-width: 1200px) { 
    body { 
        font-size: 14px;
    }
}
@media (max-width: 1150px) { 
    body { 
        font-size: 11px;
    }
}
@media (max-width: 1000px) { 
    body { 
        font-size: 10px;
    }
}
@media (max-width: 800px) { 
    body { 
        font-size: 10px;
    }
}
@media (max-width: 600px) { 
    body { 
        font-size: 8px;
    }
}
.top-header{
    width: 82%;
    box-sizing: content-box;
    padding: 1.5em 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
}
.top-nav{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.logo-text-span{
    font-size: 3em;
    font-weight: 500;
}
.top-nav a{
    color: #FFFFFF;
    font-size: 1.5em;
}
.top-nav-button{
    padding: 0.875em 2.75em;
    background-color: #FFFFFF;
    border-radius: 0.625em;
}
.top-nav-button a{
    color: #3E86F5;
}
.intro-section{
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}
.intro-section-wrapper{
    position: relative;
}
.intro-text-container{
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60%;
    padding: 0 20%;
    text-align: center;
    color: #FFFFFF;
}
.intro-text-container .intro-heading{
    font-size: 4em;
    font-weight: 600;
}
.intro-text-container .intro-caption{
    font-size: 1.5em;
    font-weight: 500;
}
.intro-image{
    width: 100%;
}
.booking-section{
    position: absolute;
    margin-top: -10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.booking-section-wrapper{
    width: 82%;
}
.booking-nav{
    width: fit-content;
    border: 0px solid black;
    padding: 20px;
    border-radius: 25px 25px 0px 0px;
    font-size: 1.125em;
    display: flex;
    align-items: center;
    background: white;
}
.booking-nav img{
    width: 25px;
    height: 25px;
}
.tickets-options-div{
    font-size: 1.125em;
    display: flex;
    gap: 1em;
}
.tickets-options-div button{
    font-size: 1.125em;
    color: #000000;
}
.tickets-options-buttons{
    padding: 1em 1.25em;
    border-radius: 25px;
    border: none;
    display: flex;
    gap: 0.25em;
    justify-content: center;
    align-items: center;
}
.flight-button{
    background-color: #FFFFFF;
}
.hotel-button{
    background-color: #FFFFFF;
}
.active-tickets-options-button{
    background-color: rgba(62, 134, 245, 0.2);
}
.booking-menu{
    background-color: white;
    padding: 3.75em 3em;
    border-radius: 0px 25px 25px 25px;
}
.booking-menu-wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2.5em;
}
.booking-menu img{
    width: 25px;
    height: 25px;
}
.booking-input-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 1.95em;
}
.single-input-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.75em 1.4em;
    border-style: solid;
    border-color: rgba(172, 172, 172, 0.5);
    border-width: 2px;
    border-radius: 25px;
}
.destinations-input-div{
    gap: 27px;
}
.date-input-div{
    gap: 47px;
}
.booking-input-img-div{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: dashed;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selection-div{
    display: flex;
    gap: 0.25em;
    flex-direction: column;
}
.selection-purpose-span{
    display: flex;
    align-items: center;
    gap: 0.4375em;
    font-size: 1.125em;
    color: rgba(0, 0, 0, 0.5);
}
.half-rotated-image{
    transform: rotate(180deg);
}
.booking-selection{
    font-size: 1.5em;
    font-weight: 500;
    color: #000000;
    border: none;
}
select{
    -webkit-appearance: none;
     appearance: none;
}
select::-ms-expand {
    display: none;
}
.booking-selection-input{
    font-size: 1.5em;
    font-weight: 500;
    color: #000000;
    border: none;
}
.tickets-search-outer-div{
    width: 9.375em;
    aspect-ratio: 1 / 1;
    background-color: rgba(62, 134, 245, 0.8);
    border-radius: 100%;

}
.tickets-search-button{
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 0;
    box-sizing: content-box;
}
.offers-section{
    padding-bottom: 15em;
}
.offers-heading-div{
    text-align: center;
}
.offers-heading{
    padding: 8em 0 1.25em 0;
    font-size: 3em;
    margin: 0;
}
@media (max-width: 900px) { 
    .offers-heading{
        padding: 12em 0 1.25em 0;
    }
}
@media (max-width: 800px) { 
    .offers-heading{
        padding: 16em 0 1.25em 0;
    }
}
.switch-tab-bar{
    display: flex;
    justify-content: center;
}
.switch-tab{
    width: fit-content;
    padding: 0.625em;
    background-color: #FFFFFF;
    display: flex;
    gap: 0.625em;
    border-radius: 0.375em;
}
.switch-button{
    padding: 0.625em 1.5em;
    color: rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    border: none;
    border-radius: 0.625em;
}
.team-button{
    color: #FFFFFF;
    background-color: #3E86F5;
}
.offers-tab-bar{
    padding: 2.5em;
    display: flex;
    justify-content: center;
}
.offers-tab{
    display: flex;
    gap: 1.25em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 1200px) { 
    .offers-tab { 
        flex-direction: column;
    }
}
.offer-article{
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 1.3125em 0.8125em 1.5625em 1.6875em;
    width: 26%;
    min-width: 350px;
}
.offer-intro{
    display: flex;
    justify-content: space-between;
}
.offer-image{
    object-fit: cover;
    width: 85%;
    min-width: 273px;
    height: 273px;
    border-radius: 50px;
}
.offer-date-div{
    position: relative;
    display: flex;
    justify-content: center;
}
.offer-date-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-date{
    display: block;
    text-align: center;
    writing-mode: vertical-lr;
    letter-spacing: 0.75em;
    color: rgba(0, 0, 0, 0.5);
}

/* .offer-date-div {
    display: table;
  }
.offer-date-wrapper {
    width: 0;
    padding: 50% 0%;
}
.offer-date {
    display: block;
    transform-origin: top left;
    transform: rotate(90deg) translate(0, -100%);
    margin-top: 100%;
    white-space: nowrap;
    letter-spacing: 1em;
} */
.offer-caption{
    padding-left: 1.1875em;
    padding-right: 1em;
}
.offer-type-and-length{
    padding-top: 1.25em;
    display: flex;
    gap: 0.75em;
}
.offer-type{
    border-radius: 7.14em;
    padding: 0 1.14em;
    font-size: 14px;
}
.relax-offer{
    color: #F178B6;
    background-color: #FCDDEC;
}
.adventure-offer{
    color: #7879F1;
    background-color: #F1F1FD;
}
.offer-length{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}
.offer-info{
    padding-top: 0.625em;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 0.25em;
}
.offer-info h4{
    font-size: 24px;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
}
.price-and-button-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-size: 24px;
}
.person{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}
.book-button{
    font-size: 14px;
    border-radius: 0.714em;
    background-color: #F2F6FF;
    color: #3E86F5;
    padding: 0.928em 1.35em;
    border: none;
}
.contact-us-section{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
@media (max-width: 1200px) { 
    .contact-us-section { 
        flex-direction: column;
    }
}
.side-image-tab{
    width: 50%;
    padding-left: 9%;
    padding-right: 7.6%;
    box-sizing: border-box;
}
.side-text-tab{
    width: 50%;
    padding-right: 9%;
    padding-left: 0.7%;
    padding-top: 6.375em;
    box-sizing: border-box;
}
.side-image-wrapper{
    position: relative;
}
.side-image-container{
    overflow: hidden;
    border-radius: 4.6875em;
}
.side-image-wrapper img{
    width: 480px;
    height: 800px;
    object-fit: cover;
}
.side-image-bar{
    height: 15%;
    width: 37.5%;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 2.1875em;
    padding: 1.625em 0;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.side-image-bar .side-image-big-text{
    font-weight: 600;
    color: #3E86F5;
}
.side-image-text-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.side-image-small-text{
    transform: translate(0, -50%);
    font-weight: 300;
    font-size: 1.125em;
}
.destinations-count{
    top: 7%;
    left: 100%;
    transform: translate(-50%, 0);
}
.tourists-count{
    top: 47.125%;
    transform: translate(-50%, 0);
}
.hotels-count{
    top: 67.125%;
    left: 100%;
    transform: translate(-50%, 0);
}
.side-image-bar .side-image-big-text{
    font-size: 2.25em;
    font-weight: 600;
}
.side-text-tab h2{
    font-size: 3em;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 0.417em;
}
.side-text-tab p{
    font-size: 1.25em;
    font-weight: 400;
    line-height: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 1em;
    color: rgba(0, 0, 0, 0.5);
}
.contact{
    font-size: 1.25em;
    font-weight: 400;
    border-radius: 0.5em;
    border: none;
    background-color: #3E86F5;
    padding: 1.1em 1.7em;
    color: #FFFFFF;
}
.recommended-destination-section{
    padding-bottom: 14.4375em;
}
.recommended-destination-heading-div{
    text-align: center;
    padding: 12.5em 0 0 0;
}
.recommended-destination-heading{
    padding: 0 0 0.83em 0;
    font-size: 3em;
    font-weight: 600;
    margin: 0;
}
.destination-options-tab-bar{
    display: flex;
    justify-content: center;
    padding-bottom: 2.5em;
}
.destination-options-tab{
    display: flex;
    justify-content: center;
}
.tab-button{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.125em;
    padding: 0.625em 1.5em;
    background-color: inherit;
    border: none;
}
.active-tab-button{
    color: #3E86F5;
    background-color: #FFFFFF;
    border-radius: 0.625em;
}
.destinations-images-tab{
    padding-top: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25em;
    position: relative;
}
.destination-articles-group{
    display: flex;
    justify-content: center;
    gap: 1.25em;
    max-width: 50%;
    width: fit-content;
}
.first-destination-group{
    
}
.second-destination-group{
    
}
.destination{
    padding: 0.625em;
    background-color: #FFFFFF;
    width: 19.5%;
    box-sizing: border-box;
    position: relative;
    border-radius: 1.5625em;
}
.destination-image-wrapper{
    position: relative;
    width: 100%;
    border-radius: 1.5625em;
    overflow: hidden;
}
.destination-image{
    object-fit: cover;
    width: 100%;
    height: 12.5em;
}
.destination-rating-div{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 1.5625em;
    left: 100%;
    top: 1em;
    transform: translate(-120%, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.125em;
    padding: 0 0.625em;
}
.star{
    width: 0.9375em;
}
.destination-article-footer{
    padding-top: 1.25em;
    padding-left: 1.25em;
}
.destination-article-footer h4{
    font-size: 1.125em;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0.28em;
}
.destination-mark-wrapper{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
}
.destination-article-footer .destination-country{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.875em;
    font-weight: 500;
}
.destination-article-footer img{
    height: 1em;
    width: 1em;
}
.review-section{
    padding-top: 6.25em;
    padding-bottom: 8.5em;
}
.reviews-tab{
    display: flex;
    justify-content: center;
    gap: 1.25em;
    padding-left: 9%;
    padding-right: 9%;
}
.review-wrapper{
    position: relative;
}
.review-article{
    border-radius: 3.125em;
    padding-top: 5.25em;
    background-color: #FFFFFF;
    box-sizing: border-box;
    /* display: flex;
    justify-items: center;
    flex-direction: column; */
    padding-bottom: 4em;
}
.quotes-image{
    position: absolute;
    width: 22.5%;
    top: 8.8%;
    left: 50%;
    transform: translate(-50%, 0) rotate(180deg);
    opacity: 25%;
}
.left-review{
    padding-left: 8.1%;
    padding-right: 4.3%;
}
.right-review{
    padding-right: 8.1%;
    padding-left: 4.3%;
}
.review-text{
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    line-height: 2.09em;
    margin-block-start: 0;
    margin-block-end: 0;

}
.review-author-name{
    padding-top: 0.5em;
    display: block;
    text-align: center;
    color: #3E86F5;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 2.09em;
}
.service-provider{
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    font-weight: 500;
    line-height: 2.09em;
}
.author-tab{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-55%, -25%);
    
}
.author-tab img{
    border-radius: 100%;
    width: 17%;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100px;
}
.review-rating-tab{
    position: absolute;
    top: 7%;
    left: 90%;
    background-color: #FFFFFF;
    border-radius: 1.5625em;
    
}
.review-rating-tab img{
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.125em;
    padding: 0 0.625em;
}
.reviews-buttons-tab{
    display: flex;
    justify-content: center;
    gap: 1.25em;
}

.register-section{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
}
.register-section img{
    width: 82%;
    aspect-ratio: 118 / 50;
    border-radius: 6.25em;
    overflow: hidden;
    object-fit: cover;
}
.register-section div{
    position: absolute;
    left: 50%;
    top: 22.8%;
    transform: translate(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.register-section h2{
    text-align: center;
    color: white;
    font-size: 3em;
    margin-block-start: 0;
    margin-block-end: 0;
}
.register-section button{
    border-radius: 1.25em;
    background-color: white;
    font-size: 1.25em;
    margin-top: 4em;
    color: #3E86F5;
    padding: 1.25em 1.75em;
    border: none;
}
footer{
    padding: 0 9%;
    padding-top: 7.5em;
    display: flex;
    justify-content: space-between;
}
footer nav{
    display: flex;
    justify-content: center;
    gap: 3.125em;
}
footer nav button{
    background-color: inherit;
    border: none;
}
footer span{
    font-size: 1.25em;
    color: rgba(0, 0, 0, 0.5);
}
footer button{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}